.card {
    div {
        span {
            color: #9c9c9c;
        }
        font-size: 20px;
    }
}

.photo {
    height: 100px;
    img {
        height: 100%;
    }
}

.item {
    margin-top: 30px;
    height: 100px;
    background-color: #8b8787;
    padding: 10px;
    a {
        text-decoration: none;
        color: #fff;
    }
}

.box {
    width: 600px;
    display: flex;
    gap: 20px;
    align-items: center;
}