.autoparts {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    li a {
        color: #fff;
        text-decoration: none;
        color: black;
    }
    li {
        color: #fff;
        background-color: #000;
        margin-top: 10px;
    }
}

.orders {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #fff;
    li a {
        color: #fff;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    li {
        color: #fff;
        background-color: #000;
        margin-top: 15px;
    }
}